<nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" >
        Inicio
      </a>

      <a class="navbar-item" routerLink="/episodios" >
        Episodios
      </a>

      <a class="navbar-item"  routerLink="/personajes">
        Personajes
      </a>
      <a class="navbar-item"  routerLink="/registro">
        Registro
      </a>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>